<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true">
	<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
		<!--begin::Logo-->
		<div class="app-sidebar-logo px-6 bg-dark text-light d-flex justify-content-center align-items-center" id="kt_app_sidebar_logo">
			<!--begin::Logo image-->
			<a href="../../demo1/dist/index.html" class="d-flex justify-content-center align-items-center w-100">
				<img alt="Logo" src="assets/media/logos/ejada-logo-en.png" class="h-50px app-sidebar-logo-default">
				<img alt="Logo" src="assets/media/logos/ejada-logo-sm.png" class="h-40px app-sidebar-logo-minimize">
			</a>
			<!--end::Logo image-->
			<!--begin::Sidebar toggle-->
			<div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
				<span class="svg-icon svg-icon-2 rotate-180">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor"></path>
						<path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor"></path>
					</svg>
				</span>
				<!--end::Svg Icon-->
			</div>
			<!--end::Sidebar toggle-->
		</div>
		<!--end::Logo-->
		<!--begin::sidebar menu-->
		<div class="app-sidebar-menu overflow-hidden flex-column-fluid bg-dark text-light">
			<!--begin::Menu wrapper-->
			<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true" style="height: 365px;">
				<!--begin::Menu-->
				<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
					<!--begin:Menu item-->
					<div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
						<!--begin:Menu link-->
						<span class="menu-link">
							<span class="menu-icon">
								<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
								<span class="svg-icon svg-icon-2">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
										<rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
										<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor"></rect>
										<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
										<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor"></rect>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</span>
							<span class="menu-title">Dashboards</span>
							<span class="menu-arrow"></span>
						</span>
						<!--end:Menu link-->
						<!--begin:Menu sub-->
						<div class="menu-sub menu-sub-accordion">
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/feeds.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Feeds</span>
								</a>
							</div>

							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Activity</span>
								</a>
							</div>

							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/followers.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Followers</span>
								</a>
							</div>
						</div>
						<!--end:Menu sub-->
					</div>
					<!--end:Menu item-->
					<!--begin:Heading-->
					<div class="menu-item pt-5">
						<div class="menu-content">
							<span class="menu-heading fw-bold text-uppercase fs-7">Pages</span>
						</div>
					</div>
					<!--end:Heading-->
					<!--begin:Menu item ratting system-->
					<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
						<span class="menu-link">
							<span class="menu-icon">
								<span class="svg-icon svg-icon-2">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
									</svg>
								</span>
							</span>
							<span class="menu-title">Ratting system</span>
							<span class="menu-arrow"></span>
						</span>

						<div class="menu-sub menu-sub-accordion">
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/feeds.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Feeds</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Activity</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/followers.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Followers</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/settings.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Settings</span>
								</a>
							</div>
						</div>
					</div>
					<!--end:Menu item ratting system-->
					<!--begin:Menu item Productivity Reports-->
					<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
						<span class="menu-link">
							<span class="menu-icon">
								<span class="svg-icon svg-icon-2">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
									</svg>
								</span>
							</span>
							<span class="menu-title">Productivity Reports</span>
							<span class="menu-arrow"></span>
						</span>



						<div class="menu-sub menu-sub-accordion">
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/feeds.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Feeds</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Activity</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/followers.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Followers</span>
								</a>
							</div>
							<div class="menu-item">
								<a class="menu-link" href="../../demo1/dist/pages/social/settings.html">
									<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
									<span class="menu-title">Settings</span>
								</a>
							</div>
						</div>
					</div>
					<!--end:Menu item Productivity Reports-->

					<div class="menu-item">
						<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
							<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
							<span class="menu-title">Calender</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
							<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
							<span class="menu-title">Sprint Champions</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href=" @Url.Action("Contributor", "contributor")">
							<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
							<span class="menu-title">Contributors</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="../../demo1/dist/pages/social/activity.html">
							<span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
							<span class="menu-title">Pipline</span>
						</a>
					</div>



					<!--end::Menu-->
				</div>
				<!--end::Menu wrapper-->
			</div>
		</div>
		<!--End::sidebar menu-->
	</div>
</div>