
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
	<!--begin::Content container-->
	<div id="kt_app_content_container" class="app-container container-xxl">
		<!--begin::About card-->
		<div class="card">
			<!--begin::Body-->
			<div class="card-body p-lg-17">
				<!--begin::Meet-->
				<div class="mb-18">
				
				<!--end::Meet-->
				<!--begin::Team-->
				<div class="mb-18">
					<!--begin::Heading-->
					<div class="text-center mb-17">
						<!--begin::Title-->
						<h3 class="fs-2hx text-dark mb-5">Our Great Team</h3>
						<!--end::Title-->
						<!--begin::Sub-title-->
						<div class="fs-5 text-muted fw-semibold">
							It’s no doubt that when a development takes longer to complete, additional costs to
							<br />integrate and test each extra feature creeps up and haunts most of us.
						</div>
						<!--end::Sub-title=-->
					</div>
					<!--end::Heading-->
					<!--begin::Wrapper-->
					<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 gy-10">
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->
							<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center" >
							
								<img src="~/assets/media/avatars/mohanad.png" />
							</div>
							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Mohannad Al Hasasneh</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Development Lead</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->

								<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center">
									<img src="~/assets/media/avatars/mohammedk.jpg" />
								</div>

							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Mohammad Al Khalaileh</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Interns</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->
							<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center" >
								<img src="~/assets/media/avatars/diyaa.jpg" />
							</div>
							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Diya'a Ohip</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Interns</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->
							<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center" >
								<img src="~/assets/media/avatars/mohammedm.jpg" />
							</div>
							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Mohammad Mustafa</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Interns</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->
							<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center" >
								<img src="~/assets/media/avatars/demah.jpg" />
							</div>
							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Demah Salameh</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Interns</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						<!--begin::Item-->
						<div class="col text-center mb-9">
							<!--begin::Photo-->
							
								
								<div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center">
									<img src="~/assets/media/avatars/tariqs_.png" />
								</div>

							<!--end::Photo-->
							<!--begin::Person-->
							<div class="mb-0">
								<!--begin::Name-->
								<a href="../../demo1/dist/pages/user-profile/projects.html" class="text-dark fw-bold text-hover-primary fs-3">Tariq Swaid</a>
								<!--end::Name-->
								<!--begin::Position-->
								<div class="text-muted fs-6 fw-semibold">Interns</div>
								<!--begin::Position-->
							</div>
							<!--end::Person-->
						</div>
						<!--end::Item-->
						
						
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Team-->
		</div>
		<!--end::Body-->
	</div>
</div>
